.DS_Store
.sass-cache/*
logs
logs/*
mockups
mockups/*
assets/sass/lib/*
assets/sass/lib/bourbon
assets/sass/lib/bourbon/*
assets/sass/lib/neat
assets/sass/lib/neat/*
node_modules
node_modules/*
bower_components
bower_components/*
