.accordian {
    @include font-18();
    @include box-sizing(border-box);
    background: #fff;
    padding: 10px;;
    color: black;

    .accordian-item {
        @include font-semibold();
        @include transition(background 0.25s ease);

        &:hover {
            cursor: pointer;
        }
    }

    .accordian-submenu {
        @include font-regular();
        @include font-16();
        @include box-sizing(border-box);
        padding: 0 4px 10px 4px;
        display: none;

        .left-side,
        .right-side {
            display: inline-block;
            width: 49%;
        }
    }

    .accordian-submenu-item {
        @include font-13();
    }
}
