.accordian {
    @include font-18();
    @include box-sizing(border-box);
    padding: 10px;
    background: transparent;

    .accordian-item {
        @include font-semibold();
        @include transition(opacity 0.25s ease);
        background: rgba(95, 95, 95, 0.25);
        padding: 4px 10px;
        margin: 4px 0;

        &:hover {
            cursor: pointer;
        }

        .accordian-submenu {
            @include font-regular();
            @include font-16();
            @include opacity(0);
            @include box-sizing(border-box);
            @include transition(opacity 0.25s ease);
            padding: 0 4px 10px 4px;
            display: none;

            .left-side,
            .right-side {
                display: inline-block;
                width: 49%;
            }
        }

        &.active {
            .accordian-submenu {
                @include opacity(1);
            }
        }
    }

    .accordian-submenu-item {
        @include font-13();
    }
}
