$accordian_active_bg_color: rgba(100, 100, 100, 0.275);;

.accordian {
    @include font-18();
    @include box-sizing(border-box);
    padding: 10px;
    background: transparent;

    .accordian-item {
        @include font-semibold();
        @include box-sizing(border-box);
        @include transition(all 0.25s ease);
        background: rgba(90, 90, 90, 0.15);
        padding: 6px 12px;
        margin: 6px 0;

        &:hover {
            cursor: pointer;
            color: $base_font_color;
            background: $accordian_active_bg_color;
        }

        &.active {
            background: $accordian_active_bg_color;

            > .accordian-submenu {
                @include opacity(1);
            }
        }

        &.subitem {
            background: transparent;
        }

        .accordian-submenu {
            @include font-regular();
            @include font-16();
            @include opacity(0);
            @include box-sizing(border-box);
            @include transition(opacity 0.25s ease);
            padding: 0 4px 10px 4px;
            display: none;

            .left-side,
            .right-side {
                display: inline-block;
                width: 49%;
            }
        }
    }

    .accordian-submenu-item {
        @include font-13();
    }
}
