$accordian_active_bg_color: rgba(100, 100, 100, 0.1);
$accoridian_item_padding: 5px 12px;
$accoridian_planet_item_padding: 6px 6px 6px 14px;

.accordian {
    @include font-18();
    @include box-sizing(border-box);
    padding: 10px;
    background: transparent;

    .accordian-item {
        @include font-semibold();
        @include box-sizing(border-box);
        @include transition(all 0.2s ease);
        background: rgba(90, 90, 90, 0.2);
        margin: 6px 0;

        .accordian-item-label {
            @include transition(color 0.2s ease);
            padding: $accoridian_item_padding;
            vertical-align: middle;

            &:hover { color: $base_font_color_hover; }

            &.planet {
                display: inline-block;
                vertical-align: middle;
            }
        }

        &:hover {
            .accordian-item-label {
                cursor: pointer;
                padding: $accoridian_item_padding;
                background: white;
            }
        }

        &.active {
            .accordian-submenu {
                @include opacity(1);
                @include box-sizing(border-box);

                &.active {
                    &:hover {
                        background: transparent;
                    }
                }

                .accordian-subitem {
                    &.planet {
                        &:hover {
                            color: $base_font_color_hover;
                        }
                    }
                }

                .left-side,
                .right-side {
                    display: inline-block;
                    width: 49%;
                }
            }
        }
    }

    .accordian-submenu {
        @include font-14();
        @include opacity(0);
        @include box-sizing(border-box);
        @include transition(opacity 0.2s ease);
        padding: 0 4px 10px 4px;
        display: none;

        .accordian-subitem {
            .planet {
                padding: $accoridian_planet_item_padding;
                display: inline-block;

                &:hover {
                    color: $base_font_color_hover;
                }
            }
        }

        .left-side,
        .right-side {
            display: inline-block;
            width: 49%;
        }
    }

    .accordian-submenu-item {
        @include font-13();
    }
}
