$camera_position_indicator: rgba(230, 226, 241, 0.8);
$orbit_control_line: 1px solid rgba(98, 190, 208, 0.95);

canvas {
    display: block;
}

input {
    width: 200px;
}

.control-panel {
    display: inline-block;
    background: rgba(30, 30, 30, 0.1); // transparent for now
    min-width: 200px;
    max-width: 200px;

    .control-panel-item {
        @include transition (background-color 1.0s ease);
        position: relative;
        background-color: rgba(70, 70, 70, 0.2);
        margin: 6px 0;
        border-top: 1px solid rgba(240, 240, 240, 0.25);

        &:hover { cursor: pointer; }

        &:before,
        &:after {
            @include font-18();
            content: '•';
            position: absolute;
            line-height: 0;
            top: 0;
        }

        &:before { left: 0; }
        &:after  { right: 0; }

        &.active {
            background-color: rgba(70, 70, 70, 0.6);
        }
    }
}

div#dynamic-container{
    width: 175px;
    height: 175px;
    background-color: transparent;
    position: relative;
    margin: 0 auto;
}

div#innerCircle{
    width: 160px;
    height: 160px;
    position: absolute;
    left: 10px;
    top: 5px;
    background-color: transparent;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: $orbit_control_line;

    .compass-circle {
        box-sizing: border-box;
        width: 120px;
        height: 120px;
        top: 18px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: $orbit_control_line;
        margin: 0 auto;
        position: relative;
    }
}

$radian: 85px;

div#marker{
    width: 10px;
    height: 10px;
    background: $camera_position_indicator;
    position: absolute;
    left: 85px;
    cursor: crosshair;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    -moz-transform: rotate(0deg);
    -moz-transform-origin: 5px $radian;

    transform: rotate(0deg);
    transform-origin: 5px $radian;

    -ms-transform: rotate(0deg);
    -ms-transform-origin: 5px $radian;

    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 5px $radian;

    z-index: 17;
}
