$orbit_control_line: 1px solid rgba(13, 226, 241, 0.9);
$orbit_camera_indicator_color: rgba(13, 100, 241, 0.8);

canvas {
    display: block;
}

input {
    width: 200px;
}

.control-panel {
    display: inline-block;
    background: rgba(30, 30, 30, 0.1); // transparent for now
    min-width: 200px;
    max-width: 200px;

    .control-panel-item {
        @include transition (background-color 1.0s ease);
        position: relative;
        background-color: rgba(70, 70, 70, 0.2);
        margin: 6px 0;
        border-top: 1px solid rgba(240, 240, 240, 0.25);

        &:hover { cursor: pointer; }

        &:before,
        &:after {
            @include font-18();
            content: '•';
            position: absolute;
            line-height: 0;
            top: 0;
        }

        &:before { left: 0; }
        &:after  { right: 0; }

        &.active {
            background-color: rgba(70, 70, 70, 0.6);
        }
    }
}

div#dynamic-container{
    width: 175px;
    height: 175px;
    background-color: transparent;
    position: relative;
    margin: 0 auto;
}

div#innerCircle{
    width: 160px;
    height: 160px;
    position: absolute;
    left: 10px;
    top: 5px;
    background-color: transparent;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid $orbit_camera_indicator_color;
}

$radian: 85px;

div#marker{
    width: 10px;
    height: 10px;
    background: blue;
    position: absolute;
    left: 85px;
    cursor: crosshair;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    -moz-transform: rotate(0deg);
    -moz-transform-origin: 5px $radian;

    transform: rotate(0deg);
    transform-origin: 5px $radian;

    -ms-transform: rotate(0deg);
    -ms-transform-origin: 5px $radian;

    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 5px $radian;

    z-index: 17;
}
