/*
 *  Font Faces
 */
@include font-face(OpenSansBold, '../fonts/open-sans/heavy/OpenSans-Bold-webfont');
@include font-face(OpenSansRegular, '../fonts/open-sans/regular/OpenSans-Regular-webfont');
@include font-face(OpenSansLight, '../fonts/open-sans/light/OpenSans-Light-webfont');

@include font-face(OpenSansBoldItalic, '../fonts/open-sans/heavy-italic/OpenSans-BoldItalic-webfont');
@include font-face(OpenSansRegularItalic, '../fonts/open-sans/regular-italic/OpenSans-RegularItalic-webfont');
@include font-face(OpenSansLightItalic, '../fonts/open-sans/light-italic/OpenSans-LightItalic-webfont');

@include font-face(GloberBold, '../fonts/glober/heavy/glober_bold-webfont');
@include font-face(GloberLight, '../fonts/glober/light/glober_thin-webfont');


/*
 *  Font Families
 */
@mixin OpenSansBold() {
    font-family: 'OpenSansBold', sans-serif;
    -webkit-font-smoothing: antialiased;
}

@mixin OpenSansRegular() {
    font-family: 'OpenSansRegular', sans-serif;
    -webkit-font-smoothing: antialiased;
}

@mixin OpenSansLight() {
    font-family: 'OpenSansLight', sans-serif;
    -webkit-font-smoothing: antialiased;
}

@mixin OpenSansBoldItalic() {
    font-family: 'OpenSansBoldItalic', sans-serif;
    -webkit-font-smoothing: antialiased;
}

@mixin OpenSansRegularItalic() {
    font-family: 'OpenSansRegularItalic', sans-serif;
    -webkit-font-smoothing: antialiased;
}

@mixin OpenSansLightItalic() {
    font-family: 'OpenSansLightItalic', sans-serif;
    -webkit-font-smoothing: antialiased;
}

@mixin GloberBold() {
    font-family: 'GloberBold', sans-serif;
    -webkit-font-smoothing: antialiased;
}

@mixin GloberLight() {
    font-family: 'GloberLight', sans-serif;
    -webkit-font-smoothing: antialiased;
}


/*
 *  Font Variables
 */
@mixin font-light() {
    font-family: 'OpenSansLight', sans-serif;
    -webkit-font-smoothing: antialiased;
}

@mixin font-regular() {
    font-family: 'OpenSansRegular', sans-serif;
    -webkit-font-smoothing: antialiased;
}

@mixin font-heavy() {
    font-family: 'OpenSansBold', sans-serif;
    -webkit-font-smoothing: antialiased;
}


/*
 *  Font Sizes
 */
@mixin font-12 () {
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

@mixin font-13 () {
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

@mixin font-14 () {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

@mixin font-16 () {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

@mixin font-18 () {
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

@mixin font-24 () {
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
}

@mixin font-32 () {
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
}

@mixin font-36 () {
    font-size: 36px;
    -webkit-font-smoothing: antialiased;
}

@mixin font-42 () {
    font-size: 42px;
    -webkit-font-smoothing: antialiased;
}

@mixin font-48 () {
    font-size: 48px;
    -webkit-font-smoothing: antialiased;
}

@mixin font-60 () {
    font-size: 60px;
    -webkit-font-smoothing: antialiased;
}

@mixin font-72 () {
    font-size: 72px;
    -webkit-font-smoothing: antialiased;
}