html {
    -webkit-font-smoothing: antialiased;
}

canvas {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased
}

body {
    @include font-regular();
    color: $base_font_color;
    background-color: #000;
    margin: 0px;
    overflow: hidden;
    z-index: 0;
}

a { color: $base_link_color; }

h1,h2,h3,h4,h5,h6 { margin: 0; }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    background: transparent;
}

// .scene { display: none; }
