$icon_camera_color: rgba(240, 240, 240, 0.4);

@font-face {
    font-family: 'icomoon';
    src:url('../icons/icomoon/fonts/icomoon.eot');
    src:url('../icons/icomoon/fonts/icomoon.eot') format('embedded-opentype'),
        url('../icons/icomoon/fonts/icomoon.woff') format('woff'),
        url('../icons/icomoon/fonts/icomoon.ttf') format('truetype'),
        url('../icons/icomoon/fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    color: $base_font_color;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-earth:before {
    content: "\45";
}
.icon-target:before {
    content: "\2b";
}
.icon-rocket:before {
    content: "\72";
}
.icon-earth2:before {
    content: "\65";
}
.icon-sun:before {
    content: "\73";
}
.icon-sun2:before {
    content: "\53";
}
.icon-adjust:before {
    content: "\62";
}
.icon-light-bulb:before {
    content: "\6c";
}

.camera-trigger {
    @include font-13();
    @include transition(color .2s ease);
    color: $icon_camera_color;
    padding-top: 1px;

    &:hover {
        color: $base_font_color_hover;
        cursor: pointer;
    }
}
