@mixin keyframes($name) {
    @-webkit-keyframes $name {
      0%   { opacity: 0; }
      100% { opacity: 1; }
    }

    @-moz-keyframes $name {
      0%   { opacity: 0; }
      100% { opacity: 1; }
    }

    @-o-keyframes $name {
      0%   { opacity: 0; }
      100% { opacity: 1; }
    }

    @keyframes $name {
      0%   { opacity: 0; }
      100% { opacity: 1; }
    }
}

