$orbit_blue: rgba(98, 190, 208, 0.95);
$camera_position_indicator: rgba(230, 226, 241, 0.85);
$orbit_control_line: 1px solid $orbit_blue;
$radian: 85px;

.camera-orbit-track {
    width: 175px;
    height: 175px;
    background-color: transparent;
    position: relative;
    margin: 20px auto;
}

.compass {
    width: 160px;
    height: 160px;
    position: absolute;
    left: 10px;
    top: 5px;
    background-color: transparent;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: $orbit_control_line;

    .compass-circle {
        box-sizing: border-box;
        width: 120px;
        height: 120px;
        top: 18px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: $orbit_control_line;
        margin: 0 auto;
        position: relative;
    }

    .compass-centroid {
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        padding: 4px;
        top: 54px;
        background: orange;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        margin: 0 auto;
        position: relative;
        border: 2px solid rgba(98, 190, 208, 1);
    }
}

.camera-positioner {
    width: 10px;
    height: 10px;
    background: $camera_position_indicator;
    position: absolute;
    left: 85px;
    cursor: crosshair;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    -moz-transform: rotate(0deg);
    -moz-transform-origin: 5px $radian;

    transform: rotate(0deg);
    transform-origin: 5px $radian;

    -ms-transform: rotate(0deg);
    -ms-transform-origin: 5px $radian;

    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 5px $radian;

    z-index: 17;
}

.zoom-control-input {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.camera-reset-holder { @include font-12(); }
