.loading-prompt {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: url(../img/bg/stars_b.png) no-repeat center center fixed;
    background-size: cover;

    p { margin: 20px 0; }
}

.loading-prompt-inner-wrap {
    width: 90%;
    max-width: 720px;
    margin: 7% auto;
}

.header-holder {
    background: url(../img/sun-horizon-glow.png) no-repeat center center;
    padding: 40px 0 20px 0;
}

.introduction-header,
.status-prompt-header {
    @include font-semibold();
    @include font-size(32px);
    text-align: center;
    background: transparent;
}

.introduction-text {
    @include font-regular();
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 30px;
    background: transparent;
}

.build-status-prompt {
    @include font-14();
    display: none;

    p { margin: 12px 0; }
}

.status-messages-holder {
    margin-top: 20px;
    margin-bottom: 30px;
    display: none;
}

.view-button { display: none; }
