@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
 *  Font Faces
 */
@font-face {
  font-family: OpenSansBold;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/open-sans/heavy/OpenSans-Bold-webfont.eot");
  src: url("../fonts/open-sans/heavy/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/heavy/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/open-sans/heavy/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/open-sans/heavy/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg"); }
@font-face {
  font-family: OpenSansRegular;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/open-sans/regular/OpenSans-Regular-webfont.eot");
  src: url("../fonts/open-sans/regular/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/regular/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/open-sans/regular/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/open-sans/regular/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg"); }
@font-face {
  font-family: OpenSansLight;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/open-sans/light/OpenSans-Light-webfont.eot");
  src: url("../fonts/open-sans/light/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/light/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/open-sans/light/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/open-sans/light/OpenSans-Light-webfont.svg#OpenSansLight") format("svg"); }
@font-face {
  font-family: OpenSansBoldItalic;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/open-sans/heavy-italic/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/open-sans/heavy-italic/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/heavy-italic/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/open-sans/heavy-italic/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/open-sans/heavy-italic/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg"); }
@font-face {
  font-family: OpenSansRegularItalic;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/open-sans/regular-italic/OpenSans-RegularItalic-webfont.eot");
  src: url("../fonts/open-sans/regular-italic/OpenSans-RegularItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/regular-italic/OpenSans-RegularItalic-webfont.woff") format("woff"), url("../fonts/open-sans/regular-italic/OpenSans-RegularItalic-webfont.ttf") format("truetype"), url("../fonts/open-sans/regular-italic/OpenSans-RegularItalic-webfont.svg#OpenSansRegularItalic") format("svg"); }
@font-face {
  font-family: OpenSansLightItalic;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/open-sans/light-italic/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/open-sans/light-italic/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/light-italic/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/open-sans/light-italic/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/open-sans/light-italic/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg"); }
@font-face {
  font-family: GloberBold;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/glober/heavy/glober_bold-webfont.eot");
  src: url("../fonts/glober/heavy/glober_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/glober/heavy/glober_bold-webfont.woff") format("woff"), url("../fonts/glober/heavy/glober_bold-webfont.ttf") format("truetype"), url("../fonts/glober/heavy/glober_bold-webfont.svg#GloberBold") format("svg"); }
@font-face {
  font-family: GloberLight;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/glober/light/glober_thin-webfont.eot");
  src: url("../fonts/glober/light/glober_thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/glober/light/glober_thin-webfont.woff") format("woff"), url("../fonts/glober/light/glober_thin-webfont.ttf") format("truetype"), url("../fonts/glober/light/glober_thin-webfont.svg#GloberLight") format("svg"); }
@font-face {
  font-family: Bebas;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/bebas-neue/BebasNeue.eot");
  src: url("../fonts/bebas-neue/BebasNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas-neue/BebasNeue.woff") format("woff"), url("../fonts/bebas-neue/BebasNeue.ttf") format("truetype"), url("../fonts/bebas-neue/BebasNeue.svg#Bebas") format("svg"); }
/*
 *  Font Families
 */
/*
 *  Font Variables
 */
/*
 *  Font Sizes
 */
canvas {
  display: block; }

input {
  width: 200px; }

.control-panel {
  display: inline-block;
  background: rgba(30, 30, 30, 0.1);
  min-width: 200px;
  max-width: 200px; }
  .control-panel .control-panel-item {
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
    position: relative;
    background-color: rgba(70, 70, 70, 0.2);
    margin: 6px 0;
    border-top: 1px solid rgba(240, 240, 240, 0.25); }
    .control-panel .control-panel-item:hover {
      cursor: pointer; }
    .control-panel .control-panel-item:before, .control-panel .control-panel-item:after {
      font-size: 18px;
      -webkit-font-smoothing: antialiased;
      content: '•';
      position: absolute;
      line-height: 0;
      top: 0; }
    .control-panel .control-panel-item:before {
      left: 0; }
    .control-panel .control-panel-item:after {
      right: 0; }
    .control-panel .control-panel-item.active {
      background-color: rgba(70, 70, 70, 0.6); }

div#dynamic-container {
  width: 175px;
  height: 175px;
  background-color: transparent;
  position: relative;
  margin: 0 auto; }

div#innerCircle {
  width: 160px;
  height: 160px;
  position: absolute;
  left: 10px;
  top: 5px;
  background-color: transparent;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 1px solid rgba(13, 100, 241, 0.8); }

div#marker {
  width: 10px;
  height: 10px;
  background: blue;
  position: absolute;
  left: 85px;
  cursor: crosshair;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-transform: rotate(0deg);
  -moz-transform-origin: 5px 85px;
  transform: rotate(0deg);
  transform-origin: 5px 85px;
  -ms-transform: rotate(0deg);
  -ms-transform-origin: 5px 85px;
  -webkit-transform: rotate(0deg);
  -webkit-transform-origin: 5px 85px;
  z-index: 17; }

html {
  -webkit-font-smoothing: antialiased; }

canvas {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  color: #bdbdbd;
  font-family: sans-serif;
  font-size: 13px;
  background: #000;
  background-color: #000;
  margin: 0px;
  overflow: hidden;
  z-index: 0;
  -webkit-font-smoothing: antialiased; }

a {
  color: #0080ff; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul {
  list-style: none;
  padding: 0; }

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
  background: transparent; }
