@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
 *  Font Faces
 */
@font-face {
  font-family: "Rajdhani-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/rajdhani/rajdhani-light-webfont.eot");
  src: url("../fonts/rajdhani/rajdhani-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rajdhani/rajdhani-light-webfont.woff") format("woff"), url("../fonts/rajdhani/rajdhani-light-webfont.ttf") format("truetype"), url("../fonts/rajdhani/rajdhani-light-webfont.svg#Rajdhani-Light") format("svg"); }
@font-face {
  font-family: "Rajdhani-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/rajdhani/rajdhani-medium-webfont.eot");
  src: url("../fonts/rajdhani/rajdhani-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rajdhani/rajdhani-medium-webfont.woff") format("woff"), url("../fonts/rajdhani/rajdhani-medium-webfont.ttf") format("truetype"), url("../fonts/rajdhani/rajdhani-medium-webfont.svg#Rajdhani-Medium") format("svg"); }
@font-face {
  font-family: "Rajdhani-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/rajdhani/rajdhani-regular-webfont.eot");
  src: url("../fonts/rajdhani/rajdhani-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rajdhani/rajdhani-regular-webfont.woff") format("woff"), url("../fonts/rajdhani/rajdhani-regular-webfont.ttf") format("truetype"), url("../fonts/rajdhani/rajdhani-regular-webfont.svg#Rajdhani-Regular") format("svg"); }
@font-face {
  font-family: "Rajdhani-Semibold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/rajdhani/rajdhani-semibold-webfont.eot");
  src: url("../fonts/rajdhani/rajdhani-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rajdhani/rajdhani-semibold-webfont.woff") format("woff"), url("../fonts/rajdhani/rajdhani-semibold-webfont.ttf") format("truetype"), url("../fonts/rajdhani/rajdhani-semibold-webfont.svg#Rajdhani-Semibold") format("svg"); }
@font-face {
  font-family: "Rajdhani-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/rajdhani/rajdhani-bold-webfont.eot");
  src: url("../fonts/rajdhani/rajdhani-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rajdhani/rajdhani-bold-webfont.woff") format("woff"), url("../fonts/rajdhani/rajdhani-bold-webfont.ttf") format("truetype"), url("../fonts/rajdhani/rajdhani-bold-webfont.svg#Rajdhani-Bold") format("svg"); }
/*
 *  Font Families
 */
/*
 *  Font Variables
 */
/*
 *  Font Sizes
 */
html {
  -webkit-font-smoothing: antialiased; }

canvas {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: 'Rajdhani-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  color: #f2f2f2;
  background: #000;
  background-color: #000;
  margin: 0px;
  overflow: hidden;
  z-index: 0; }

a {
  color: #0080ff; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
  background: transparent; }

.accordian {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  padding: 10px;
  color: black; }
  .accordian .accordian-item {
    font-family: 'Rajdhani-Semibold', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased; }
  .accordian .accordian-submenu {
    font-family: 'Rajdhani-Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 4px 10px 4px;
    display: none; }
    .accordian .accordian-submenu .left-side,
    .accordian .accordian-submenu .right-side {
      display: inline-block;
      width: 49%; }
  .accordian .accordian-submenu-item {
    font-size: 13px;
    -webkit-font-smoothing: antialiased; }

.data-container {
  font-size: 13px;
  -webkit-font-smoothing: antialiased; }
  .data-container .left-side,
  .data-container .right-side {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block; }
  .data-container .left-side {
    width: 64%; }
  .data-container .right-side {
    width: 34%; }

canvas {
  display: block; }

input {
  width: 200px; }

.control-panel {
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  background: rgba(30, 30, 30, 0.1);
  width: 100%;
  max-width: 260px; }
  .control-panel .control-panel-item {
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
    font-family: 'Rajdhani-Medium', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    padding: 8px;
    margin: 6px 0;
    position: relative;
    background-color: rgba(70, 70, 70, 0.2);
    border-top: 1px solid rgba(240, 240, 240, 0.25); }
    .control-panel .control-panel-item:hover {
      cursor: pointer; }
    .control-panel .control-panel-item:before, .control-panel .control-panel-item:after {
      font-size: 18px;
      -webkit-font-smoothing: antialiased;
      content: '•';
      position: absolute;
      line-height: 0;
      top: 0; }
    .control-panel .control-panel-item:before {
      left: 0; }
    .control-panel .control-panel-item:after {
      right: 0; }
    .control-panel .control-panel-item.active {
      background-color: rgba(70, 70, 70, 0.6); }
  .control-panel .subitem {
    font-family: 'Rajdhani-Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    padding-left: 12px; }

div#dynamic-container {
  width: 175px;
  height: 175px;
  background-color: transparent;
  position: relative;
  margin: 20px auto; }

div#innerCircle {
  width: 160px;
  height: 160px;
  position: absolute;
  left: 10px;
  top: 5px;
  background-color: transparent;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 1px solid rgba(98, 190, 208, 0.95); }
  div#innerCircle .compass-circle {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    top: 18px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid rgba(98, 190, 208, 0.95);
    margin: 0 auto;
    position: relative; }
  div#innerCircle .compass-centroid {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    padding: 4px;
    top: 54px;
    background: orange;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 auto;
    position: relative;
    border: 2px solid #62bed0; }

div#marker {
  width: 10px;
  height: 10px;
  background: rgba(230, 226, 241, 0.85);
  position: absolute;
  left: 85px;
  cursor: crosshair;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-transform: rotate(0deg);
  -moz-transform-origin: 5px 85px;
  transform: rotate(0deg);
  transform-origin: 5px 85px;
  -ms-transform: rotate(0deg);
  -ms-transform-origin: 5px 85px;
  -webkit-transform: rotate(0deg);
  -webkit-transform-origin: 5px 85px;
  z-index: 17; }
