{% spaceless %}
    <ul class="accordion planet-list" data-accordion>
        {% for planet in planets %}
            <li class="accordion-item" data-accordion-item>
                <a class="accordion-title planet-name">{{ planet.name }}</a>
                <div class="accordion-content" data-tab-content>
                  I would start in the open state, due to using the `is-active` state class.
                </div>
            </li>
        {% endfor %}
    </ul>
{% endspaceless %}
