@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ve7nvc');
	src:url('fonts/icomoon.eot?#iefix-ve7nvc') format('embedded-opentype'),
		url('fonts/icomoon.woff?-ve7nvc') format('woff'),
		url('fonts/icomoon.ttf?-ve7nvc') format('truetype'),
		url('fonts/icomoon.svg?-ve7nvc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
	content: "\63";
}
.icon-rocket:before {
	content: "\72";
}
.icon-feed:before {
	content: "\66";
}
.icon-podcast:before {
	content: "\70";
}
