$btn_border_color: rgba(100, 163, 175, 0.75);
$btn_border_color_hover: rgba(100, 163, 175, 1);
$btn_padding_regular: 10px 20px;
$btn_box_shadow: inset 0 0 6px rgba(100, 163, 175, 0.25);
$btn_box_shadow_hover: inset 0 1px 14px rgba(100, 163, 175, 0.6);

.btn-ss {
    @include transition(all .2s ease);
    @include font-semibold();
    @include font-14();
    border: 1px solid $btn_border_color;
    border-radius: 3px;
    color: $base_font_color_light_opacity;
    padding: $btn_padding_regular;
    text-align: center;
    width: 100%;
    max-width: 250px;
    box-shadow: $btn_box_shadow;

    &:hover {
        cursor: pointer;
        border: 1px solid $btn_border_color_hover;
        color: $base_font_color_hover;
        box-shadow: $btn_box_shadow_hover;
    }
}
