@import "keyframe-animations";

/**
 * Custom Font Mixins
 */
@mixin loading-prompt-text() {
    @include font-regular();
    font-size: 1.25rem;
    line-height: 1.3;

    p {
        line-height: 1.3;

        @media screen and (min-width: 40em) {
            line-height: 1.5;
        }
    }
}
