@import "../../app/vendor/bourbon/app/assets/stylesheets/bourbon";
@import "foundation";
@import "mixins";
@import "fonts";
@import "globals";
@import "header";
@import "menu";


// Temporary
.intro-screen {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    z-index: 3;
    background: black;
    padding-top: 100px;
}

.intro-text {
    @include loading-prompt-text();
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    height: 100%;
    font-size: 1.25rem;
    display: table;
    font-weight: 600;

    .inner {
        // display: table-cell;
        // vertical-align: middle;
    }
}

.render-scene {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.scene {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 0;
}

@keyframes progressBar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.loading-prompt {
    text-align: center;
    opacity: 0;
    transition: opacity 300ms ease-out;
    margin: 2rem auto;

    &.active {
        opacity: 1;
    }
}

.progress {
    transition: opacity 300ms ease-out;
    margin-top: 1rem;
    opacity: 0;

    &.active {
        opacity: 1;

        .progress-meter {
            animation: progressBar 2000ms ease-out;
        }
    }

    &.complete {
        opacity: 1;

        .progress-meter {
            width: 100%;
        }
    }
}

.tutorial-modal {
    color: black;
}
